
{% extends 'base.html.twig' %}

{% block body %}
<h2>{{"titre.loca"|trans}}</h2>

  {% if locations %}
   {% for loc in locations %}
     <fieldset>
       adresse {{ loc.adresse }},
       Ville {{ loc.ville }}
       <a href="{{ path('deleteLocation', { 'id': loc.id }) }}">
         {{"boutonSup"|trans}}
       </a>
       <a href="{{ path('updateLocation', { 'id': loc.id }) }}">
         {{"boutonModif"|trans}}
       </a>
     </fieldset>
   {% endfor %}
  {% else %}
    <li>Pas (encore !) d'annonces</li>
  {% endif %}
{% endblock %}
